<% provide(:title, "About") %>
<h1>About Song Queue Manager</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Alexander Poon is a software developer. He is also an avid Rock Band
      player. During his time playing weekly gigs with the Seattle Rock Band
      Group (and even occasionally hosting!), he noticed that sometimes the
      queue management was not up-to-par, due in large part to factors such as
      human error, a lack of knowing how many times a band has played, or
      drunkenness.
    </p>

    <p>
      Enter the Song Queue Manager. The Song Queue Manager intends to make it
      easy for attendees and staff to manage the queue. Attendees can sign up,
      create an account, form bands (and invite their friends to join!), and
      make song requests for various events. Staff can create events and manage
      requests with ease. Moreover, statistics is displayed, telling users how
      many times they have come up on stage.
    </p>

    <p>
      Being able to automate these is what Alexander believes will make it
      easier for everyone - now all staff members can easily see who should be
      going next, and how many times each band has gone up. Members can roughly
      see what the queue is like.
    </p>

    <p>
      Interested in the source code? You can check out the
      <a href="https://github.com/elcanadiano/Song-Queue-Manager" target="_blank">GitHub</a>
      to learn more.
    </p>
  </div>
</div>
