<% provide(:title, 'My Notifications') %>
<h1>My Notifications</h1>

<div class="row">
  <ul class="users">
    <% if @notifications.blank? %>
      <li>You currently have no notifications.</li>
    <% else %>
      <%= render @notifications %>
    <% end %>
  </ul>
</div>
