<% if admin? || !song_request.is_abandoned %>
  <% if song_request.is_abandoned %>
    <tr class="danger">
  <% elsif song_request.is_completed %>
    <tr class="success">
  <% else %>
    <tr>
  <% end %>
    <td><%= song_request.band.name %></td>
    <td><%= song_request.song.song_by_artist %></td>
    <% if admin? %>
      <td>
        <% if !song_request.is_abandoned && !song_request.is_completed %>
          <%= link_to "Complete", toggle_completed_request_path(song_request.id), method: :patch, class: "btn btn-success btn-block" %>
          <%= link_to "Abandon", toggle_abandoned_request_path(song_request.id), method: :patch, class: "btn btn-danger btn-block" %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
