<% if admin? || !song_request.is_abandoned %>
  <% if song_request.is_abandoned %>
    <li class="danger">
  <% elsif song_request.is_completed %>
    <li class="success">
  <% else %>
    <li>
  <% end %>
    <p class="song-info"><%= song_request.song.song_by_artist %></p>
    <p class="band-info">Requested by <%= song_request.band.name %></p>
    <% if admin? %>
      <% if !song_request.is_abandoned && !song_request.is_completed %>
        <%= link_to "Complete", toggle_completed_request_path(song_request.id), method: :patch, class: "btn btn-success" %>
        <%= link_to "Abandon", toggle_abandoned_request_path(song_request.id), method: :patch, class: "btn btn-danger" %>
      <% end %>
    <% end %>
  </li>
<% end %>
