<% provide(:title, 'Events') %>
<h1>Events</h1>

<% if admin? %>
  <div class="row">
    <%= link_to "New Event", new_event_url, class: "btn btn-primary" %>
  </div>
<% end %>

<% if admin? && !@recent.blank? %>
  <h2>Recently-created Events</h2>

  <%= render partial: "event_table", locals: {events: @recent} %>
<% end %>

<h2>Open Events</h2>

<% if !@open_events.blank? %>
  <%= render partial: "event_table", locals: {events: @open_events} %>
<% else %>
  <p>There are currently no open events.</p>
<% end %>

<% if !@closed.blank? %>
  <h2>Closed Events</h2>

  <%= render partial: "event_table", locals: {events: @closed} %>
<% end %>
