<% provide(:title, 'Events') %>
<h1>Events</h1>

<% if admin? %>
  <div class="row">
    <%= link_to "New Event", new_event_url, class: "btn btn-primary" %>
  </div>
<% end %>

<%= will_paginate %>

<ul class="users">
  <%= render @events %>
</ul>

<%= will_paginate %>
