<% provide(:title, 'Events') %>
<h1><%= @event.name %></h1>

<% if @event.is_open %>
  <div class="row">
    <%= link_to "New Request", request_event_url(@event.id), class: "btn btn-primary" %>
  </div>
<% end %>

<ul class="users">
  <%= render partial: "event_requests", collection: @requests, as: "song_request" %>
</ul>
