<% provide(:title, @event.name) %>
<h1><%= @event.name %></h1>

<% if @event.is_open %>
  <div class="row">
    <%= link_to "New Request", request_event_url(@event.id), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="row">
  <% if @requests.blank? %>
    <div class="col-md-12">
      <p>There are currently no requests. Why don't you make the first one?</p>
    </div>
  <% else %>
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Band Name</th>
              <th>Song</th>
              <th>Artist</th>
              <% if admin? %>
                <th>Admin</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "event_requests", collection: @requests, as: "song_request" %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Band Name</th>
              <th>Song Count</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial: "request_counts", collection: @request_counts, as: "request_count" %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
