<li>
  <div class="btn-group" role="group" style="float:right">
    <%= link_to "Edit",   edit_song_url(song), class: "btn btn-warning" %>
    <%= link_to "Delete", song_url(song),      class: "btn btn-danger", method: :delete, data:
  		{confirm: "WARNING: All song requests associated with this song will be deleted! Are you sure?"} %>
  </div>

  <h3 class="name">
  	<%= link_to song.name, edit_song_url(song) %>
  </h3>
</li>
