<li>
  <%= gravatar_for member.user, size: 50 %>
  <%= link_to member.user.name, member.user %>
  <% if @current_member.is_admin? && !current_user?(member.user) && !member.is_admin? %>
    | Remove from Band
  <% end %>
</li>
