<% provide(:title, "Showing Members of #{@band.name}") %>
<h1>Showing Members of <%= @band.name %></h1>

<div class="row">
  <ul class="users">
    <%= render partial: 'band_members', collection: @members, as: :member %>
  </ul>
</div>

<% if is_band_admin? %>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Invite User", invite_band_url, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
